.row {
  padding-top: 10px;
}
/************************
Paneles
************************/
.panel-usuarios {
  border-right: 1px solid #c7c7c7;
}

.panel {
  margin-top: 10px;
  border-radius: 0;
  box-shadow: none;
  border: none;
}

.panel .panel-heading {
  background: #202020;
  border-radius: 0;
  border-top: 4px solid #464646;
}

.panel .panel-heading h1 {
  padding: 0;
  margin: 0;
  font-size: 1.2em;
  color: white;
}

.panel .panel-body {
  box-shadow: none;
  border: none;
  border-bottom: 4px solid #b4b4b4;
}
/***********************

***********************/
.graf {
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 200px;
  color: white;
  border-radius: 100px;
}

.graf div {
  display: inline-block;
}

.graf div h2 {
  font-size: 1.7em;
}

#usuarios-graf {
  border: 10px solid #41a7ff;
  background: #007fec;
}

.panel .table th:last-child {
  text-align: center;
}

.panel .table tbody {
  max-height: 600px;
}

.panel .table tbody th {
  font-size: 1em;
}

.panel .table th i {
  font-weight: bold;
}

.panel .table th a {
  padding: 0 4px;
  color: #565656;
}

.panel .table th a:hover {
  color: #8c8c8c;
}

#rookies-graf {
  border: 10px solid #ffc261;
  background: #ec9100;
}
