::selection{
  background: rgba(0, 0, 0, 0.62);
  color: white;
}

a {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

body {
  font-family: verdana;
  font-size: 12px;
  background-color: #fff;
  padding-top: 52px;
}

.form-control:focus {
  box-shadow: 0px 0px 5px rgba(17, 17, 17, 0.24);
  border: 1px solid #323232;
}

.tp {
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 3px;
}

.tp * { height: 100%; }

.color-top-1 { background: #1e1e1e; }
.color-top-2 { background: #3d3d3d; }
.color-top-3 { background: #6b6b6b; }
.color-top-4 { background: #a8a8a8; }
.color-top-5 { background: #d6d6d6; }
.color-top-6 { background: #ededed; }

.title {
  background: #f7f7f7;
  height: 30px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.title h1 {
  padding: 0 30px;
  margin: 0;
  display: inline-block;
  font-size: 16px;
  line-height: 30px;
  height: 30px;
  color: #3f3f3f;
  border-bottom: 3px solid #3f3f3f;
}

.navegador {
  position: fixed;
  top: 2px;
  width: 100%;
  height: 50px;
  background-color: #000;
  color: white;
  border-bottom: 1px solid #111;
  z-index: 999;
}

.navegador .menu-bottom-div {
  float: left;
  height: 100%;
  width: 5%;
  text-align: center
}

.navegador .header-name {
  float: left;
  height: 100%;
  width: 90%;
  text-align: center
}

.navegador .header-name a {
  padding: 0;
  line-height: 50px;
  font-size: 20px;
  color: white;
  display: inline;
  float: none;
}

.navegador .header-name a:hover {
  text-decoration: none;
}

.navegador.transp {
  background-color: rgba(0, 0, 0, 0.95);
}

#menu-bottom {
  margin-top: 11px;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  color: #fff;
}

#menu-bottom:hover,
#menu-bottom:focus,
#menu-bottom:active {
  color: #dddddd;
  border: none;
}

#menu-bottom.active {
  color: #dddddd;
  box-shadow: none;
  border: none;
}

/*************************************************/
/*************** menu estilos ********************/
/*************************************************/
#menu-div {
  display: none;
}

.menu-content {
  position: fixed;
  top: 53px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 1px 0px 4px rgba(17, 17, 17, 0.2);
  min-width: 250px;
  min-height: 100%;
}


.menu-content .menu .menu-nav {
  margin-right: -21px;
  margin-bottom: 10px;
  margin-top: -20px;
  margin-left: -20px;
}

.menu-content .menu .menu-nav li > a,
.menu-content .menu .menu-nav li > p {
  background: none;
  padding: 5px 0 5px 20px;
  font-size: 13px;
}

.menu-content .menu .menu-nav .titulo-nombre > p {
  font-weight: bold;
  color: #919191;
  padding-top: 15px;
  padding-bottom: 7px;
  background: rgba(232, 232, 232, 0.60);
  border-bottom: 1px solid #d6d6d6;
}

.menu-content .menu .menu-nav .titulo-menu > p {
  color: #111;
  margin: 0;
  font-weight: bold;
}

.menu-content .menu .menu-nav .option-menu > a {
  color: #767676;
}

.menu-content .menu .menu-nav .option-menu > a:hover,
.menu-content .menu .menu-nav .option-menu > a:focus {
  color: #fff;
  background: #4e4e4e;
}

.menu-content .menu .option-menu > a.active {
  background: #4e4e4e;
  color: #fff;
}

.menu-content .menu .menu-nav .fa {
  width: 20px;
  text-align: center;
}

.menu-content .menu .menu-nav .fa2 {
  float: right;
  margin-top: 3px;
}

.menu-content form {
  margin: 5px 0px 15px 0;
}

.menu-content .form-group .form-control,
.menu-content .btn-block {
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0;
}

.menu-content .form-group .form-control {
  background: rgba(17, 17, 17, 0.20);
  border-bottom: 4px solid rgba(17, 17, 17, 0.20);
  box-shadow: none;
}

.menu-content .form-group .form-control:focus {
  border: none;
  border-bottom: 4px solid #111;
}

.menu-content .btn-block {
  font-weight: bold;
  border: none;
  background: black;
  color: white;
  border-bottom: 4px solid #535353;
}

.menu-content .btn-block:hover {
  border-bottom: 4px solid #111;
}

.divisor {
  width: 80%;
  padding-top: 10px;
  border-top: 1px solid #b2b2b2;
  margin-left: 20px;
}

/********************
Calculadora
*********************/
#cuerpo {
  margin-bottom: 20px;
}

/*******************
Totales
*******************/
#t [class^="col-md-"],
#t [class^="col-xs-"] {
  padding: 0;
  margin: 0;
}

#t {
  margin-top: 10px;
  height: 30px;
  text-align: center;
  color: #909090;
}

#t h1 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 30px;
  font-weight: bold;
}

#datos {
  margin-top: 35px;
}

#datos .form-group,
#datos .input-group {
  margin-bottom: 10px;
}

#datos .form-group .form-control,
#datos .input-group .form-control {
  border-radius: 0;
}

#datos .input-group > span {
  border-color: black;
  background-color: #111;
  color: #fff;
  text-align: right;
  border-radius: 0;
}

/*******************
Caracteristicas
*******************/
.caracteristicas div {
  padding: 0;
}

.caracteristicas {
  height: 30px;
  margin-bottom: 5px;
}

.car {
  height: 30px;
}

.nombre {
  background: #d4d4d4;
  text-align: center;
}

.nombre > span {
  font-weight: bold;
  line-height: 30px;
  font-size: 20px;
}

.progreso .barra {
  height: 100%;
}

.progreso .progress {
  height: 100%;
  border-radius: 0px;
}

.progreso .val .form-control {
  box-shadow: inset 0px 1px 2px rgb(42, 42, 42);
  height: 30px;
  background-color: #484848;
  color: #ededed;
  border: none;
  font-size: 18px;
  width: 100%;
  padding: 0;
  font-weight: bold;
  text-align: center;
}

.lab {
  height: 30px;
}

.lab .btn-default {
  margin: 0;
  padding: 0;
  height: 100%;
  border-radius: 0px;
  border: none;
}

.lab input {
  padding: 0;
  margin: 0;
  width: 100%;
  border: none;
  background: #cbcbcb;
}

.value .form-control {
  text-align: center;
  height: 30px;
}

.carencia {
  height: 30px;
}

.carencia .form-group,
.carencia .form-control {
  padding: 0;
  text-align: center;
  height: 100%;
  width: 100%;
  line-height: 10px;
  border-radius: 0;
}

.totales div {
  height: 30px;
  padding: 0;
}

.totales .ent {
  padding: 0;
  text-align: center;
}

.totales .ent h1 {
  font-size: 13px;
  margin: 0;
  padding: 0;
  font-weight: bold;
  line-height: 30px;
}

.alertas {
  position: fixed;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
}

.list-group-item {
  border-right: none;
  border-left: none;
}

.modal-body .form-control {
  width: 300%;
}

.alerta-span {
  display: none;
  color: rgb(255, 64, 64);
}

.error-form {
  display: none;
  margin: 5px;
  padding: 10px;
  background: rgba(255, 87, 87, 0.25);
  color: #900000;
}

.success-form {
  display: none;
  margin: 5px;
  padding: 10px;
  background: rgba(87, 255, 87, 0.25);
  color: #005600;
}

.modal-boy {
  max-height: 600px;
}

.modal-body .table thead tr {
  background: black;
  color: white;
}

.modal-body .table th {
  text-align: center;
}

.modal-body .table th a {
  color: black;
}

.modal-body .table th a:hover {
  text-decoration: none;
  color: #454545;
}

/** Media queries **/
@media (max-width: 764px) {
  .navegador .menu-bottom-div {
    width: 20%;
  }

  .navegador .header-name {
    width: 60%;
  }

  #datos {
    margin-top: 60px;
    padding: 0;
  }

  #datos .form-group,
  #datos .input-group {
    width: 100%;
  }

  .nombre > span {
    font-size: 0.90em;
  }

  .progreso .val .form-control {
    font-size: 1.3em;
  }

  #t h1 {
    font-size: 0.94em;
  }
}
